<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Check for Updates" value="false" />
        <add key="Minimal install" value="true" />
        <add key="Download location" value="uk" />
        <add key="Driver type" value="grd" />
        <add key="Minimal install components" value="Display.Driver" />
    </appSettings>
</configuration>
